<div id="normalMenuHeader" class="mc-header-menu ">
    <span class="mc-button mc-button-icon" mc-action="menu"></span>
    <span class="mc-button mc-button-icon mc-clickable" mc-action="prev"></span>
    <label class="mc-title">导航</label>
</div>

<div id="accountinfoMenuheader" class="mc-header-menu mc-hidden">
    <img src="{{ 'assets/images/material_logo.png'|theme }}" />
    <h1 class="mc-title">Rafael Perez Garcia</h1>
    <h1 class="mc-text">real.lord.fido@gmail.com</h1>
</div>


<a href="{{ 'home'|page }}" class="mc-nav-item" mc-action="home">Home</a>

<a class="mc-nav-item" mc-action="cards" mc-menu="elements">Elements</a>
<span class="mc-collapsed" mc-submenu="elements">
    <a href="#/texts" class="mc-nav-subitem">texts</a>
    <a href="#/icons" class="mc-nav-subitem">icons</a>
    <a href="#/navigation" class="mc-nav-subitem">navigation</a>
    <a href="#/header" class="mc-nav-subitem">header</a>
<!-- <a href="#/content" class="mc-nav-subitem">content</a> -->
    <a href="#/footer" class="mc-nav-subitem">footer</a>
    <a href="#/layouts" class="mc-nav-subitem">layouts</a>
    <a href="#/buttons" class="mc-nav-subitem">buttons</a>
    <a href="#/lists" class="mc-nav-subitem">lists</a>
    <a href="#/cards" class="mc-nav-subitem">cards</a>
    <a href="#/dialogs" class="mc-nav-subitem">dialogs</a>
    <a href="#/notifications" class="mc-nav-subitem">notifications</a>
    <a href="#/tables" class="mc-nav-subitem">tables</a>
    <a href="#/forms" class="mc-nav-subitem">forms</a>
    <a href="#/floating-windows" class="mc-nav-subitem">Floating windows</a>
</span>
