<span class="card-title" >第二步：选择需要参加本次培训的证书</span>
<div class="card-panel teal lighten-2 white-text">点击<span class="btn-floating red light-2"><i class="material-icons">playlist_add_check</i></span> 图标进行下一步操作</div>
<table class="responsive-table striped">
    <thead>
    <tr>
        <th data-field="id">姓名</th>
        <th data-field="name">培训类别</th>
        <th data-field="pri nt_date">发证日期</th>
        <th data-field="review_date">应复审日期</th>
        <th data-field="active ">是否有效</th>
        <th data-field="history ">选择证书</th>
    </tr>
    </thead>
    <tbody>
    {% if certificates.count %}
    {% for certificate in certificates %}
    <tr data-request-data="certificate_id: {{ certificate.id }},partial: 'pages-training/record_lists',select:'#account'">
        <td>{{ certificate.name }}</td>
        <td>{{ certificate.category.name }}</td>
        <td>{{ certificate.print_date }}</td>
        <td>{{ certificate.review_date }}</td>
        <td><i class='material-icons'>{{ certificate.active ? "check":"close" }}</i></td>
        <td>
            <a class="btn-floating red light-2" data-request-success="$('select').formSelect();" data-request="addRecord::onLoadRecordForm" >
                <i class="material-icons">playlist_add_check</i>
            </a>
        </td>
    </tr>
    {% endfor %}

    {% endif %}
    </tbody>
</table>
