<div class="lt-row row">
    <div class="lt-col col s12">
        <h2 class="lt-title">培训项目列表</h2>
        <div class="card-panel teal lighten-2 white-text">说明：带有图标<i class="material-icons">visibility</i>该培训项目<span class="red">允许申请培训</span>；带有图标<i class="material-icons">visibility_off</i>则该培训项目目前<span class="red">不允许申请培训</span>。</div>
    </div>
</div>

<div class="lt-vertical-spacer"></div>

<ul class="collapsible" data-collapsible="accordion">
    {% for project in lists %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons">
                {% if project.can_apply %}
                visibility
                {% else %}
                visibility_off
                {% endif %}
            </i>
            {{ project.title|raw }}--{{ project.created_at }}

        </div>
        <div class="collapsible-body">
            <div class=" row">
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item">培训时间: <span class="white-text teal lighten-2">{{ project.start_date }} ~ {{ project.end_date }} </span></li>
                        <li class="collection-item">报名截止: <span class="white-text teal lighten-2">{{ project.end_apply_date }} </span></li>
                        <li class="collection-item">计划考试: <span class="white-text teal lighten-2">{{ project.exam_date }} </span></li>
                        <li class="collection-item">报名人数: <span class="white-text teal lighten-2">{{ project.certificates.count }} 人已报名</span></li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item">培训类别: <span class="white-text teal lighten-2">{{ project.plan.type.title }}</span></li>
                        <li class="collection-item">培训状态: <span class="white-text teal lighten-2">{{ project.status.name }} </span></li>
                        <li class="collection-item">允许报名: <span class="white-text teal lighten-2">{% if project.can_apply %}是{% else %}否{% endif %} </span></li>
                        <li class="collection-item">

                            <div class="collection-horizontal">
                                <div class="fixed-action-btn horizontal  collection-horizontal-btn">
                                    <a class="btn-floating btn-large red">
                                        <i class="large material-icons">list</i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a title="选择该培训项目填写报名申请"
                                               href="{{ 'apply-form'|page({ project_id: project.id }) }}" class="btn-floating yellow darken-1 {% if project.can_apply==false %}disabled{% endif %}"><i class="material-icons">add</i></a>
                                        </li>
                                        <li>
                                            <a title="查看该培训项目的详细信息" href="{{ 'details'|page({ id: project.id }) }}" class="btn-floating green"><i class="material-icons">check</i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                    </ul>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{{ lists.render|raw }}