<ul class="collection  with-header">
    <li class="collection-item">发证机构: <span class="white-text teal lighten-2">{{ plan.is_certificate ? plan.organization.name : '未发证' }}</span></li>
    <li class="collection-item">培训学时: <span class="white-text teal lighten-2">理论：{{ plan.theroy_hours }}学时，操作：{{ plan.operate_hours }}学时</span></li>
    <li class="collection-item">联系方式: <span class="white-text teal lighten-2">{{ plan.contact_person }}：{{ plan.contact_phone }}</span></li>
    <li class="collection-item">培训地址: <span class="white-text teal lighten-2">{{ plan.training_address }}</span></li>
</ul>
