[viewBag]
==
<div class="row">
    <div class="col s12">
        <span class="card-title">你的购物车有 {{ carts.count() }} 个培训申请</span>

        <table class="bordered responsive-table">
            <thead>
            <tr>
                <th data-field="date">名称</th>
                <th data-field="date">单价</th>
                <th data-field="date">数量</th>
                <th data-field="date">操作</th>

            </tr>
            </thead>
            <tbody>
            {% if carts %}
                {% for cart in carts %}
            <tr data-request-data="row_id: {{ cat.rawId() }}">
                <td>{{ cart.name }}</td>
                <td>￥{{ cart.price }}</td>
                <td>{{ cart.qty }}</td>
                <td><i class="material-icons">clear</i></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="" class="right-align">合计：</td>
                <td colspan="3" class="left-align">￥{{ total }}元</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">还没有培训记录！</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        {{ carts.subtotal() }}
        <form data-request="cart::onAddToOrder" data-request-confirm="你确定要提交订单吗？">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">book</i>
                    <select id="address" name="address_id">
                        <option disabled >选择你收货地址...</option>
                        {% for id,address in addresses %}
                        <option value="{{ address.id }}" {{ last_use.id==address.id ? "selected" : "" }}>{{ address.full_address }}</option>
                        {% endfor %}
                    </select>
                    <label for="address">收货地址<span class="red-text">*</span></label>
                </div>
            </div>
            <div class="card-action">
                <button data-attach-loading class="btn waves-effect waves-light btn-large" type="submit" name="action">提交订单
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>
