[staticMenu]
code = "navigation"

[viewBag]
==
<div class="navbar-fixed">

  <nav>
    <div class="nav-wrapper container">
      <a href="{{ 'home'|page }}" class="brand-logo white-text">Octaskin</a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% for item in staticMenu.menuItems %}
        <li class="{{ item.isActive ? 'active': '' }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
  </div>
  </nav>
  <ul class="sidenav" id="mobile-menu">
    {% for item in staticMenu.menuItems %}
    <li class="{{ item.isActive ? 'active': '' }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>

</div>