description = "默认模板"
==
<!DOCTYPE html>
<html data-ng-app="materialCSS">
    <head>
        <meta charset="utf-8">
        <title>October CMS - {{ this.page.title }}</title>
        <metame="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <!--Android -->
        <meta name="mobile-web-app-capable" content="yes">

        <!-- iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link href="{{ 'assets/css/material-css.css'|theme }}" rel="stylesheet">
        <link href="http://www.material-css.com/color-themes/mypetcard-theme.css" type="text/css" rel="stylesheet" />

        {% styles %}
    </head>
    <body mc-layout="hidden-nav">
        {% partial "site/navigation" %}

        {% partial "site/header" %}

        <div class="mc-content" style="padding-top: 0px">
            <div class="mc-layout" mc-layout="1">
                <div class="mc-layout" mc-layout-size="biggest">
                    <div class="mc-card">
                        {% page %}
                    </div>
                </div>
            </div>

            {% partial "site/footer" %}
        </div>







        <!-- Scripts -->
        <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/js/material-css.js'|theme }}"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
