description = "Octaskin Layout"
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
    <meta name="keywords" content="{{ this.theme.keywords }}">
    <meta name="author" content="{{ this.theme.website_author }}">
    <title>{{ this.theme.website_name }} - {{ this.page.meta_title|default(this.page.title) }}</title>
    <link rel="canonical" href="{{ this.theme.website_url }}" />
    <link rel="icon" type="image/png" href="{{ 'assets/img/icon.png'|theme }}" />

    {% if this.theme.load_google_fonts %}
      <link href="https://fonts.googleapis.com/css?family={{ this.theme.google_font_family }}" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_fontawesome %}
      <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_material_icons %}
      <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css" rel="stylesheet">
    {% endif %}
    <link href="{{ 'assets/css/materialize.min.css'|theme }}" rel="stylesheet">
    {% if this.theme.load_stroke7_icons %}
      <link href="{{ 'assets/css/stroke7/stroke7-icon-font.min.css'|theme }}" rel="stylesheet">
    {% endif %}

    <link href="{{ ['assets/scss/style.scss']|theme }}" rel="stylesheet">

    {% partial "_addons/css" %}

    {% styles %}

    {% if this.theme.custom_css %}
      <style>
      {{ this.theme.custom_css }}
      </style>
    {% endif %}
  </head>
  <body class="lt-theme-{{ this.theme.config.code }} lt-layout-{{ this.layout.id }} lt-page-{{ this.page.id }}">
    <div id="lt-page-surround">
      <section id="lt-navigation" class="lt-section section">
        <div class="lt-row">
          <div class="lt-content lt-navigation-content">
            {% partial "pages-all/navigation" %}
          </div>
        </div>
      </section>
      {% page %}


      <footer class="page-footer lt-section">
        <div class="container">
          {% partial "pages-all/footer" %}
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>

    </div>

    <script src="https://cdn.bootcss.com/jquery/{{ this.theme.jQuery_version }}/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="{{ ['assets/js/theme.js']|theme }}"></script>

    {% if this.theme.load_octobercms_framework %}
      {% framework extras %}
    {% endif %}

    {% partial "_addons/js" %}

    {% scripts %}

    {% if this.theme.custom_js %}
      <script>
      {{ this.theme.custom_js|raw }}
      </script>
    {% endif %}
  </body>
</html>
