title = "个人中心"
url = "/account/:code?"
layout = "octaskin"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "user"
redirect = "login"

[userCertificates]
==
<div class="lt-parallax-header parallax-container" style="height: 120px;">
    <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/portfolio/header/img-01.jpg'|theme }}" alt="image"></div>
    <div class="lt-parallax-content">
        <div class="center-align white-text" style="height: 110px;">
                <h2 class="lt-title ">个人中心</h2>
        </div>
    </div>
</div>

<div class="container">
    {% if not user %}
            <div class="row">
                <div class="col l6 offset-l3">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#login">登入系统</a></li>
                        {% if canRegister %}
                            <li class="tab col s3"><a href="#register">注册用户</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div id="login" class="col s12">
                    {% partial "pages-auth/login-form" %}
                </div>
                {% if canRegister %}
                    <div id="register" class="col s12">
                        {% partial "pages-auth/register-form" %}
                    </div>
                {% endif %}
            </div>
    {% else %}
        <div class="row">
            <div class="col m4 push-m8">
                {% partial 'pages-auth/user-data' %}
            </div>
            <div class="col m8 pull-m4">
                <div class="card hoverable">
                    <div class="card-content" id="account">
                        {% partial 'pages-training/certificates_list' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>