title = "博客"
url = "/blog"
layout = "default"
is_hidden = 0
==
{% put tabs_bar %}
    <a href="#header-bar" class="mc-tab" mc-section="header-bar">Header Bar</a>
    <a href="#header-content" class="mc-tab mc-selected" mc-section="header-content">Header Content</a>
    <a href="#tabs" class="mc-tab" mc-section="tabs">Tabs</a>
{% endput %}
{% put floating_window %}
    {% default %}
{% endput %}
{% put top_right %}
<a href="#/?download" class="mc-button mc-button-icon mc-clickable" mc-action="download" mc-tooltip="download"></a>
<div class="mc-tooltip" mc-item="download">Download</div>
<span class="mc-button mc-button-icon mc-clickable" mc-action="share" data-ng-click="openFloatingWindow()" mc-tooltip="share"></span>
<div class="mc-tooltip" mc-item="share">Share</div>
{% endput %}
<span class="mc-button mc-button-text mc-button-raised mc-clickable ng-scope" data-ng-click="openFloatingWindow()">Demo</span>
    <p class="mc-text ng-scope">The header have important colors, texts and icons that will define your app's identity, so it's a key element on your website.</p>

    <h1 class="mc-title ng-scope" id="header-bar">Header bar</h1>
    <p class="mc-text ng-scope">To start, just add an element with "<b>mc-header</b>" class into your app's "<b>body</b>". This will set the space for your main panel.</p>
    <p class="mc-text ng-scope">You can add several lines to your header by adding a "<b>mc-header-line</b>" element class to its children.</p>
    <ul class="mc-list mc-list-clean mc-code ng-scope">
        <li>&lt;header class="mc-header"&gt;</li>
        <ul>
            <li>&lt;div class="mc-header-line"&gt;&lt;/div&gt;</li>
            <li>&lt;div class="mc-header-line"&gt;&lt;/div&gt;</li>
        </ul>
        <li>&lt;/header&gt;</li>
    </ul>
    <br class="ng-scope">

    <h1 class="mc-title ng-scope" id="header-content">Header content</h1>
    <p class="mc-text ng-scope">You can place <b>Icon Buttons</b> and <b>Titles</b> into this bar. Also you can place a div with the "<b>mc-right</b>" class to place the icons on the right side.</p>
    <ul class="mc-list mc-list-clean mc-code ng-scope">
        <li>&lt;header class="mc-header"&gt;</li>
        <ul>
            <li>&lt;div class="mc-header-line"&gt;</li>
            <ul>
                <li>&lt;span class="mc-button-icon" mc-action="menu"&gt;&lt;/span&gt;</li>
                <li>&lt;p class="mc-title"&gt; Bars &lt;/p&gt;</li>
                <li>&lt;div class="mc-right"&gt;</li>
                <ul>
                    <li>&lt;span class="mc-button-icon" mc-action="download"&gt;&lt;/span&gt;</li>
                    <li>&lt;span class="mc-button-icon" mc-action="share"&gt;&lt;/span&gt;</li>
                </ul>
                <li>&lt;/div&gt;</li>
            </ul>
            <li>&lt;/div&gt;</li>
        </ul>
        <li>&lt;/header&gt;</li>
    </ul>
    <br class="ng-scope">

    <h1 class="mc-title ng-scope" id="tabs">Tabs</h1>
    <p class="mc-text ng-scope">Tabs are designed to navigate between sections on the same catergory. To add a tabs bar, just place an element with the class "<b>mc-tabs-bar</b>" like direct children of your "<b>mc-header</b>".</p>
    <p class="mc-text ng-scope">Then, place as "<b>mc-tab</b>" as you want into it.</p>
    <ul class="mc-list mc-list-clean mc-code ng-scope">
        <li>&lt;header class="mc-header"&gt;</li>
        <ul>
            <li>&lt;div class="mc-header-line"&gt;</li>
            <ul>
                <li>...</li>
            </ul>
            <li>&lt;/div&gt;</li>
            <li>&lt;div class="mc-tabs-bar"&gt;</li>
            <ul>
                <li>&lt;a href="#" class="mc-tab"&gt;Tab name&lt;/a&gt;</li>
                <li>&lt;a href="#" class="mc-tab"&gt;Tab name&lt;/a&gt;</li>
            </ul>
            <li>&lt;/div&gt;</li>
        </ul>
        <li>&lt;/header&gt;</li>
    </ul>
    <br class="ng-scope">
    <p class="mc-note ng-scope">If you add the "<b>mc-selected</b>" class, the tab will display an indicator line on its bottom.</p>

