title = "注册用户"
url = "/forget-password"
layout = "octaskin"
is_hidden = 0

[Registration]
mode = "ajax"
flash_on = 1
redirect_on = 1
redirect_page = "account"
activation = "activation_on"
force_login = 1
==
<section id="lt-mainpage" class="lt-section section">
    <div class="lt-container container">
        <div class="lt-content lt-mainpage-content">
            <div class="row">
                <div class="col l6 offset-l3">
                    <div class="card hoverable">
                        <div class="card-content" >
                            <span class="card-title center-align">用户注册</span>
                            {% set arError = Registration.getErrorMessage %}
                            {% set arForm = Registration.getOldFormData %}
                            <form data-request="Registration::onAjax">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">email</i>
                                        <input id="field-email" type="email" value="{{ arForm.email }}" name="email" class="validate">
                                        <label for="field-email" data-error="格式错误" data-success="格式正确">邮件地址</label>
                                        {% if arError.message is not empty and arError.field == 'email' %}
                                        <p>{{ arError.message }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input id="field-password" name="password" type="password" class="validate">
                                        <label for="field-password">密码</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input id="field-password-confirmation" type="password" value="" name="password_confirmation" class="validate">
                                        <label for="field-password-confirmation" >再次输入密码</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="field-name" type="text" value="{{ arForm.name }}" name="name"
                                               class="validate">
                                        <label for="field-name" >姓名</label>
                                        {% if arError.message is not empty and arError.field == 'name' %}
                                        <p>{{ arError.message }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input id="field-identity" type="text" value="{{ arForm.identity }}"
                                               name="identity"
                                               class="validate">
                                        <label for="field-identity" >身份证号码（关联证书，填写后不可修改）</label>
                                        {% if arError.message is not empty and arError.field == 'identity' %}
                                        <p>{{ arError.message }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">call</i>
                                        <input id="field-phone" type="text" value="{{ arForm.phone }}"
                                               name="phone"
                                               class="validate">
                                        <label for="field-phone" >联系电话</label>
                                        {% if arError.message is not empty and arError.field == 'phone' %}
                                        <p>{{ arError.message }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-action">
                                    <button class="btn waves-effect waves-light btn-large" type="submit"
                                            name="action">注册
                                        <i class="material-icons right">send</i>
                                    </button>
                                    <a href="{{ 'login'|page }}" class="waves-effect waves-light">登录</a>
                                    <a class="waves-effect waves-light" data-request="{{ 'registration'|page }}">qq
                                        登录</a>
                                </div>

                            </form>
                            {% if arError.message is not empty %}
                            <p>{{ arError.message }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>