title = "文章"
url = "/blog/post/:slug"
layout = "octaskin"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "category"
==
<?php

function onEnd()
{
    // Optional - set the page title to the post title
    if (isset($this->post))
        $this->page->title = $this->post->title;
}
?>
==

{% partial "pages-all/parallax_header" title=post.title %}
{% set post = blogPost.post %}
<div class="row">
    <div class="col l10 offset-l1">
    {% if post %}


        <div class="content">{{ post.content_html|raw }}</div>

        {% if post.featured_images.count %}
        <div class="featured-images text-center">
                {% for image in post.featured_images %}
                    <img
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        alt="{{ image.description }}"
                style="max-width: 100%" />
                {% endfor %}
        </div>
        {% endif %}

        <p class="info">
            Posted
            {% if post.categories.count %} in
            {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
            on {{ post.published_at|date('M d, Y') }}
        </p>

        {% endif %}
    </div>
</div>
