[viewBag]
==
{% include 'pages-all/message' %}
<form data-request="account::onUpdate" data-request-flash data-request-validate
      data-request-success=" M.toast({html: '密码修改成功!'})">
    <div class="row">
        <div class="input-field col s12">
            <input type="password" id="accountPassword" name="password"  class="validate">
            <label for="accountPassword" >新密码</label>
        </div>
        <div class="input-field col s12">
            <input type="password" id="accountPasswordConfirmation" name="password_confirmation"  class="validate">
            <label for="accountPasswordConfirmation" >再次输入新密码</label>
        </div>

    </div>
    <button class="btn waves-effect waves-light btn-large" type="submit" name="action" data-attach-loading>修改密码
        <i class="material-icons right">send</i>
    </button>
</form>
