[viewBag]
==
<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <img src="{{ obUser.avatar['path'] }}">
    </div>

    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ obUser.name }} {{ obUser.last_name }}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ obUser.name }} {{ obUser.last_name }} 的个人介绍<i class="material-icons right">close</i></span>
        <p>{{ obUser.property['introduction']|raw }}</p>
    </div>
    <div class="card-action">
        <a href="#" data-request="Logout::onAjax">注销</a>
        <a href="#" data-request="Logout::onAjax" >修改密码</a>
        <a data-request-update="'pages-auth/edit-user-form':'#accont'" data-request="onStart">修改资料</a>
    </div>
    <ul class="collection">
        <li class="collection-item">邮箱：{{ obUser.email }}</li>
        <li class="collection-item">联系电话：{{ obUser.phone }}</li>
    </ul>
</div>