[viewBag]
==
{% set user = account.user %}
<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="materialboxed" src="{{ user.avatar.getPath() }}">
    </div>

    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ user.name }}<i
                class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ user.name }} 的个人介绍<i
                class="material-icons right">close</i></span>
        <p>{{ user.introduce|raw }}</p>
    </div>
    <div class="card-action">
        <a class="waves-effect waves-light" data-request="session::onLogout ">注销</a>
        <a class="waves-effect waves-light" data-request="userCertificates::onLoadUserDataForChangePass"  >修改密码</a>
        <a class="waves-effect waves-light" data-request="userCertificates::onLoadUserData">修改资料</a>
        <a class="waves-effect waves-light" href="{{ 'user_addresses'|page }}">收货地址</a>
    </div>
    <ul class="collection">
        <li class="collection-item">邮箱：{{ user.email }}</li>
        <li class="collection-item">身份证号码：{{ user.identity }}</li>
        <li class="collection-item">联系电话：{{ user.phone }}</li>
        <li class="collection-item">工作单位：{{ user.company }}</li>
        <li class="collection-item">最后登录：{{ user.last_login }}</li>
        <li class="collection-item">创建时间：{{ user.created_at }}</li>
        <li class="collection-item">最后更新：{{ user.updated_at }}</li>
    </ul>
</div>

